{% extends "base+jqx+flat-admin-bootstrap.html" %}

{% block title %}
    ΕΚΤΥΠΩΣΕΙΣ ΠΑΡΑΛΑΒΩΝ
{% endblock %}

<!-- Start Block HTML -->
{% block html %}

<div class="page-title">
    <span class="title">ΕΚΤΥΠΩΣΕΙΣ ΠΑΡΑΛΑΒΩΝ</span>
</div>                        
 
<div id="printLinks" class="row">
        
  <!-- START menuItem Αναφορές -->
  {% if request.user is has_group("Admin") or request.user is has_group("Grammateia") %} 
    
    <!--Μάθημα-->
    <div id="groupAcceptance" class="col-xs-2"> <!-- /reporting/xls/lesson -->           
     <h3 class="info">A.Παραλαβές</h3>
     <a id="printAcceptance" href="/reporting/xls/acceptance/" class="btn btn-sm btn-primary" role="button">Παραλαβές ανα Μάθημα</a>
     <a id="printAcceptance" href="/reporting/xls/acceptance/sum/" class="btn btn-sm btn-primary" role="button">Γενικά Σύνολα Παραλαβών</a>
    </div>
    
    <!-- -->
    <div id="groupBarcode" class="col-xs-3"> 
     <h3 class="info">B.Κωδικοί Barcodes</h3>
     <a id="printBarcode" href="/reporting/pdf/barcode/" class="btn btn-info" role="button">Barcodes</a>
    </div>
  {% endif %} 
  

</div>
<!-- ./row -->


<!-- ****************************************-->
<!-- Dialogue PRINT ACCEPTANCE               -->
<!-- ****************************************-->
<div id="dialogPrintAcceptance" >

<!-- content-->
<div class="modal-content">
    <!--
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Επιλογές Εκτύπωσης.</h4>
    </div>
    -->
    <div class="modal-body">
    <!--FORM-->
    <form class="form-horizontal" id="formPrint" action="javascript:void(0);" >
    {% csrf_token %}
    
      <!--Lesson-->
      <div class="form-group">
        <label class="control-label col-sm-3" for="LessonID">Μάθημα:</label>
        <div class="col-sm-8">
            <div id="jqxcomboboxLesson" name="LessonID" class="form-control" placeholder="Μάθημα"></div>
        </div>
      </div>

      <!--Date-->
      <div class="form-group">
        <label class="control-label col-sm-3" for="dateFrom">Ημερομηνία:</label>
        <div class="col-sm-6">
            <div id="jqxdatetimeinputDate" name="dateFrom" class="form-control" placeholder="Ημερομηνία"></div>
        </div>
      </div>
      
      <!--BUTTONS-->
      <div class="form-group">
        <div class="col-sm-offset-5 col-sm-6">
          <button id="buttonPrint" class="btn btn-primary" >OK</button> 
          <button id="buttonCancel" class="btn btn-default" >Cancel</button>
        </div>
      </div>

      <!--HIDDENS-->
      <input id='printLink' name='printLink' type="hidden"/>
    
    </form>
    <!-- ./form -->
    </div>    
    
    <div class="modal-footer">        
    </div>
    <!-- ./footer-->

</div>
<!-- ./content-->
</div>
<!-- End Dialogue PRINT -->


<!-- ****************************************-->
<!-- Dialogue PRINT BARCODES                 -->
<!-- ****************************************-->
<div id="dialogPrintBarcode" >
   
  <!-- content-->
  <div class="modal-content">
    <!--
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Επιλογές Εκτύπωσης.</h4>
    </div>
    -->
    <div class="modal-body">
    <!-- Start FORM ADD -->
    <!-- form action="javascript:void(0);" is for action=none -->
    <form class="form-horizontal" id="formPrint" action="javascript:void(0);" >
    {% csrf_token %}

      <!--Lesson-->
      <div class="form-group">
        <label class="control-label col-sm-3" for="ddeCode">Μάθημα:</label>
        <div class="col-sm-8">
            <div id="jqxcomboboxLesson2" class="form-control" placeholder="Μάθημα"></div>
        </div>
      </div>

      <!--Folder numbers-->
      <div class="form-group">
        <label class="control-label col-sm-3" for="fromNo">Από:</label>
        <div class="col-sm-3">
        <input id="fromNo" name="fromNo" class="form-control" placeholder="ΑΑ">
        </div>

        <label class="control-label col-sm-2" for="toNo">Έως:</label>
        <div class="col-sm-3">
        <input id="toNo" name="toNo" class="form-control" placeholder="ΑΑ">
        </div>
      </div>


      <!--Folder type-->
      <div class="form-group">
      <div name="optionsCodeType" class="col-sm-offset-4 col-sm-8">

      <div class="radio3 radio-check radio-inline3">
        <input id="radio0" name="codeType" value="0" checked="" type="radio">
        <label for="radio0" >
          KANONIKOI
        </label>
      </div>

      <div class="radio3 radio-check radio-inline" >
        <input id="radio1" name="codeType" value="2" type="radio">
        <label for="radio1" >
          ΑΝΑΒΑΘΜΟΛΟΓΗΣΗ
        </label>
      </div>
      </div>
      </div>

      <!--HIDDENS-->
      <input id='printLink' name='printLink' type="hidden"/>
      
      <!--BUTTONS-->
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <div class="col-sm-3">
          <button id="buttonPrint" class="btn btn-primary" >OK</button> 
        </div>
          <div class="col-sm-3">
          <button id="buttonCancel" class="btn btn-default" >Cancel</button>
          </div>
        </div>
      </div>

    </form>
    <!-- End FORM ADD -->
    
    </div>
    <!-- ./body -->
    <div class="modal-footer"></div>
    <!-- ./footer-->

  </div>
  <!-- ./content-->

</div>
<!-- End Dialogue NEW -->


<!-- End Block HTML -->
{% endblock %}


<!-- Block JS -->
{% block js %}
<script type="text/javascript">    

$(document).ready(function () {

/**********************
// jqxcomboboxLessons
***********************/
//Lessons > RecordSet  
var sourceLesson = {
    datatype: "json",
    datafields: [
        {name: "id"}, 
        {name: "name"}, 
        {name: 'category', type: 'string' },
        {name: 'type', type: 'integer' }, // number, 
        {name: 'lexType', value: 'type', values: { source: dataAdapterSchoolToGradeType.records, value: 'type', name: 'lexType' } },
    ],
    url: '/lesson/crud/', 
}; //source

// DataAdapter

var dataAdapterLesson = new $.jqx.dataAdapter(sourceLesson,
    {
        beforeLoadComplete: function (records) {
            for (var i = 0; i < records.length-1; i++) {
                records[i]['name'] = records[i]['name']+"-"+ records[i]['category'] +"-"+ records[i]['lexType'] ;
                //var row = {};
            }//for
                return records;
        }//beforeLoadComplete
    }
);
//var dataAdapterLesson = new $.jqx.dataAdapter(sourceLesson);

//http://jsfiddle.net/jqwidgets/5SnVH/
//+same source for 2 combos
$("#jqxcomboboxLesson , #jqxcomboboxLesson2").jqxComboBox({
    source: dataAdapterLesson, 
    valueMember: "id", displayMember: "name", 
    selectedIndex: -1, //selectIndex:-1, 
    placeHolder:"Επιλέξτε Μάθημα...",  
    //itemHeight: 20, height: 30, 
    width: '100%', theme:theme, 
    /*
    renderer: function (index, label, value) {
        //var datarecord = data[index];
        var datarecord = dataAdapterLesson.records[index];    
        //var row = "<b>"+label +"</b> " + datarecord.category + "[<u>" + datarecord.lexType + "</u>]" ;
        //var row = "<b>"+label +"</b> ";
        var row = "<b>"+label +"</b> ";
        return row;
    }
    */
});
//$("#jqxcomboboxLesson").jqxComboBox('selectIndex', -1 );
// jqxcomboboxLesson > Events

//INPUTS
$("#jqxdatetimeinputDate").jqxDateTimeInput({ width: '100%', height: '25px' });
//$("#timeInput").jqxDateTimeInput({formatString: "T", showTimeButton: true, showCalendarButton: false, width: '300px', height: '25px' });
//$("#dateTimeInput").jqxDateTimeInput({ formatString: "F", showTimeButton: true, width: '300px', height: '25px' });
                
////////////////////////////////
// Buttons 
////////////////////////////////
//$("#addrowbutton #deleterowbutton #updaterowbutton").jqxButton({ theme: theme });
// Saves a.href in hidden input + opens appropriate print dialog
$('#groupAcceptance a').click(function (event) {
    event.preventDefault();
    $("#printLink").val($(this).attr('href'));    
    $( '#dialogPrintAcceptance').jqxWindow('open');
});

// Saves a.href in hidden input + opens appropriate print dialog
$('#groupBarcode a').click(function (event) {
    event.preventDefault();
    $("#printLink ").val($(this).attr('href'));    
    $( '#dialogPrintBarcode').jqxWindow('open');
});

/////////////////////////
//Dialogue PRINT Acceptance
/////////////////////////                
// Dialogue 
$('#dialogPrintAcceptance').jqxWindow({ 
    autoOpen: false, title: 'Επιλογές Εκτύπωσης.', isModal: true, 
    //keyboardNavigation: true, 
    keyboardCloseKey: 13, showAnimationDuration: 600, //closeAnimationDuration: 200,
    resizable: false, modalOpacity: 0.8, 
    //position: { x: parseInt($("#jqxgridGrader").offset().left) + 60, y: parseInt($("#jqxgridGrader").offset().top) + 60,}, 
    width: '650px', height: 'auto', //'400px',
});        

// Dialogue > Event
$("#dialogPrintAcceptance").on('open', function () {
    $("#dialogPrintAcceptance #jqxcomboboxLesson").jqxComboBox('selectIndex', -1 );
    $("#dialogPrintAcceptance #jqxdatetimeinputDate").val(null);
    
});

// Dialogue > Buttons
// Button > No > Event (ID ascendants used here)
$( '#dialogPrintAcceptance #buttonCancel' ).click(function () {
    $( '#dialogPrintAcceptance' ).jqxWindow('close');
});

// Button > Yes > Event
$( '#dialogPrintAcceptance #buttonPrint' ).click(function (event) {
    var url = $('#printLink').val();
    var qstring = $("#dialogPrintAcceptance :input[value!='']").serialize() 
    //alert(url + '?' + qstring) ;
    window.location.href = url + '?' + qstring ;        
    $( "#dialogPrintAcceptance" ).jqxWindow('close');
});





/////////////////////////
//Dialogue PRINT Barcode
/////////////////////////                
$('#dialogPrintBarcode').jqxWindow({ 
    autoOpen: false, title: 'Εκτύπωση Barcodes', isModal: true, 
    keyboardNavigation: true, 
    keyboardCloseKey: 13, showAnimationDuration: 600, //closeAnimationDuration: 200,
    resizable: false, modalOpacity: 0.8, 
    //position: { x: parseInt($("#jqxgridGrader").offset().left) + 60, y: parseInt($("#jqxgridGrader").offset().top) + 60,}, 
    width: 'auto', height: 'auto',
});        

// Dialogue > Event
$("#dialogPrintBarcode").on('open', function () {
    $("#dialogPrintBarcode #jqxcomboboxLesson2").jqxComboBox('selectIndex', -1 );
    $("#dialogPrintBarcode [name=codeType]").val(["0"]);    //instead of $("#codeType").val(0);
    $("#dialogPrintBarcode #fromNo").val('');
    $("#dialogPrintBarcode #toNo").val('');
});


// Dialogue > Buttons
// Button > No > Event
$( '#dialogPrintBarcode #buttonCancel' ).click(function () {
    $( '#dialogPrintBarcode' ).jqxWindow('close');
});
// Button > Yes > Event
$( '#dialogPrintBarcode #buttonPrint' ).click(function (event) {
    $('#dialogPrintBarcode #formPrint').jqxValidator('validate');    
});


////////////////////////////
// form > jqxValidator
////////////////////////////
$('#dialogPrintBarcode #formPrint').jqxValidator( { 
    rules: [
                
        { input: '#fromNo', message: 'Nα είναι ακέραιος!', 
        rule: function (input, commit) {
            var fromNo = $('#fromNo').val();
            if ( ($.isNumeric(fromNo)) || (fromNo == '') ) return true; else return false;
            }
        },
        
        { input: '#toNo', message: 'Nα είναι ακέραιος!', 
        rule: function (input, commit) {
            var toNo = $('#toNo').val();
            if ( ($.isNumeric(toNo)) || (toNo == '') ) return true; else return false;
            }
        },
        
    ],  //rules 
 
    onSuccess: function () { 
        var url = $('#printLink').val();
        var LessonID = $("#dialogPrintBarcode #jqxcomboboxLesson2").jqxComboBox('val');
        //var buttonClicked = clickedButton[0].id;    
        var qstring  = $('#dialogPrintBarcode #formPrint').serialize();
        qstring  = qstring  + (LessonID == '' ? '' : '&LessonID=' + LessonID );
        //alert (qstring);
        window.location.href = url + '?' + qstring ;    
        
        $( "#dialogPrintBarcode" ).jqxWindow('close');

        //console.log("Success");
        //alert('Success!'); 
    },//onSuccess
    onError: function () { 
        console.log("Failed!");
        alert('Failed!'); 
    }, 
} );



}); //doc.ready
</script>
{% endblock %}


