{% extends "base+jqx+flat-admin-bootstrap.html" %}

{% block title %}
    ΕΚΤΥΠΩΣΕΙΣ ΒΑΘΜΟΛΟΓΗΣΗΣ
{% endblock %}

<!-- Start Block HTML -->
{% block html %}

<div class="page-title">
    <span class="title">ΕΚΤΥΠΩΣΕΙΣ</span>
</div>                        
 
<div id="printLinks" class="row">
        
  <!-- START menuItem Αναφορές -->
  {% if request.user is has_group("Admin") or request.user is has_group("Grammateia") %} 
        
    <!-- Βαθμολογητές -->
    <div id="printFolder" class="col-xs-2"> <!-- /reporting/xls/folder -->     
      <h3 class="info">A.Βαθμολογητές</h3>
        <a id="printGraderByLesson" href="/reporting/xls/grader/" class="btn btn-sm btn-primary" role="button">Βαθμολογητές Ανα Μάθημα</a>
        <a id="printGraderWork" href="/reporting/xls/grader/workv3/" class="btn btn-sm btn-primary" role="button">Εικόνα Εργασίας ανα Βαθμολογητή</a>
    </div>

    <!-- Φάκελοι -->
    <div id="printFolder" class="col-xs-2"> 
      <h3 class="info">B.Φάκελοι</h3>
        <a id="printFolder" href="/reporting/xls/folder/" class="btn btn-sm btn-primary" role="button">Φάκελοι ανα Μάθημα</a>
        <a id="printFolder" href="/reporting/xls/folder/now/" class="btn btn-sm btn-primary" role="button">Φάκελοι που Διορθώνονται</a>
        <a id="printFolder" href="/reporting/xls/folder/delays/" class="btn btn-sm btn-danger" role="button">Φάκελοι που Καθυστερούν</a>
         <a id="printFolder" href="/reporting/xls/folder/history/" class="btn btn-sm btn-primary" role="button">Ιστορικό Φακέλων</a>
        <a id="printFolder" href="/reporting/xls/folder/sum/" class="btn btn-sm btn-primary" role="button">Συγκεντρωτική Εικόνα Φακέλων</a>
    </div>
    
    <!-- Κινήσεις -->
    <div id="printBooking" class="col-xs-2"> <!-- /reporting/xls/folder -->
      <h3 class="info">Γ.Κινήσεις</h3>
        <a id="printBooking" href="/reporting/xls/booking/" class="btn btn-sm btn-primary" role="button">Κίνηση ανα Μάθημα</a>
    </div>

  {% endif %} 
  

  <!-- GROUP REPORTS -->
  {% if request.user is has_group("Reports") and not(request.user is has_group("Admin"))%} 
               
    <!--Φάκελοι-->
    <div id="printFolder" class="col-xs-2"> <!-- /reporting/xls/folder -->
     
    <h3 class="info">B.Φάκελοι</h3>
     <a id="printGraderWork" href="/reporting/xls/grader/workv3/" class="btn btn-sm btn-primary" role="button">Φάκελοι ανα Βαθμολογητή</a>
     <a id="printFolder" href="/reporting/xls/folder/now/" class="btn btn-sm btn-primary" role="button">Φάκελοι που Διορθώνονται</a>    
     <a id="printFolder" href="/reporting/xls/folder/history/" class="btn btn-sm btn-primary" role="button">Ιστορικό Φακέλων</a>
    </div>

    <!-- Totals -->
    <div class="col-xs-2"> <!-- -->
     <h3 class="info">Δ.Σύνολα</h3>
     <a id="printFolder" href="/reporting/xls/folder/sum/" class="btn btn-sm btn-warning" role="button">Θέση Φακέλων</a>
    </div>

  {% endif %} 
  

</div>
<!-- ./row -->

<!-- Start Dialogue PRINT -->
<!-- *****************************************-->
<!--           Dialogue PRINT                 -->
<!-- *****************************************-->
<div id="dialogPrint" >

<!-- content-->
<div class="modal-content">
    <!--
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Επιλογές Εκτύπωσης.</h4>
    </div>
    -->
    <div class="modal-body">
    <!--FORM-->
    <form class="form-horizontal" id="formPrint" action="javascript:void(0);" >
    {% csrf_token %}
    
      <!--Lesson-->
      <div class="form-group">
        <label class="control-label col-sm-3" for="LessonID">Μάθημα:</label>
        <div class="col-sm-8">
            <div id="jqxcomboboxLesson" name="LessonID" class="form-control" placeholder="Μάθημα"></div>
        </div>
      </div>

      <!--Date-->
      <div class="form-group">
        <label class="control-label col-sm-3" for="dateFrom">Ημερομηνία:</label>
        <div class="col-sm-6">
            <div id="jqxdatetimeinputDate" name="dateFrom" class="form-control" placeholder="Ημερομηνία"></div>
        </div>
      </div>
      
      <!--BUTTONS-->
      <div class="form-group">
        <div class="col-sm-offset-5 col-sm-6">
          <button id="buttonPrint" class="btn btn-primary" >OK</button> 
          <button id="buttonCancel" class="btn btn-default" >Cancel</button>
        </div>
      </div>

      <!--HIDDENS-->
      <input id='printLink' name='printLink' type="hidden"/>
    
    </form>
    <!-- ./form -->
    </div>    
    
    <div class="modal-footer">        
    </div>
    <!-- ./footer-->

</div>
<!-- ./content-->
</div>
<!-- End Dialogue PRINT -->


<!-- End Block HTML -->
{% endblock %}


<!-- Block JS -->
{% block js %}
<script type="text/javascript">    

$(document).ready(function () {

/**********************
// jqxcomboboxLessons
***********************/
//Lessons > RecordSet  
var sourceLesson = {
    datatype: "json",
    datafields: [
        {name: "id"}, 
        {name: "name"}, 
        {name: 'category', type: 'string' },
        {name: 'type', type: 'integer' }, // number, 
        {name: 'lexType', value: 'type', values: { source: dataAdapterSchoolToGradeType.records, value: 'type', name: 'lexType' } },
    ],
    url: '/lesson/crud/', 
}; //source

// DataAdapter

var dataAdapterLesson = new $.jqx.dataAdapter(sourceLesson,
    {
        beforeLoadComplete: function (records) {
            for (var i = 0; i < records.length-1; i++) {
                records[i]['name'] = records[i]['name']+"-"+ records[i]['category'] +"-"+ records[i]['lexType'] ;
                //var row = {};
            }//for
                return records;
        }//beforeLoadComplete
    }
);
//var dataAdapterLesson = new $.jqx.dataAdapter(sourceLesson);

//http://jsfiddle.net/jqwidgets/5SnVH/
$("#jqxcomboboxLesson").jqxComboBox({
    source: dataAdapterLesson, 
    valueMember: "id", displayMember: "name", 
    selectedIndex: -1, //selectIndex:-1, 
    placeHolder:"Επιλέξτε Μάθημα...",  
    //itemHeight: 20, height: 30, 
    width: '100%', theme:theme, 
});
//$("#jqxcomboboxLesson").jqxComboBox('selectIndex', -1 );

//INPUTS
$("#jqxdatetimeinputDate").jqxDateTimeInput({ width: '100%', height: '25px' });
                
////////////////////////////////
// Buttons 
////////////////////////////////
//$("#addrowbutton #deleterowbutton #updaterowbutton").jqxButton({ theme: theme });
// Saves a.href in hidden input 
$('#printLinks a').click(function (event) {
    event.preventDefault();
    $("#printLink").val($(this).attr('href'));    
    $( '#dialogPrint').jqxWindow('open');
});

/////////////////////////
//Dialogue PRINT
/////////////////////////                
// Dialogue 
$('#dialogPrint').jqxWindow({ 
    autoOpen: false, title: 'Επιλογές Εκτύπωσης.', isModal: true, 
    //keyboardNavigation: true, 
    keyboardCloseKey: 13, showAnimationDuration: 600, //closeAnimationDuration: 200,
    resizable: false, modalOpacity: 0.8, 
    //position: { x: parseInt($("#jqxgridGrader").offset().left) + 60, y: parseInt($("#jqxgridGrader").offset().top) + 60,}, 
    width: '650px', height: 'auto', //'400px',
});        

// Dialogue > Event
$("#dialogPrint").on('open', function () {
    $("#jqxcomboboxLesson").jqxComboBox('selectIndex', -1 );
    $("#jqxdatetimeinputDate").val(null);
    
});

///////////////////
// Dialogue > input
///////////////////
// Dialogue > Buttons
// Button > No > Event
$( '#buttonCancel' ).click(function () {
    $( '#dialogPrint' ).jqxWindow('close');
});
// Button > Yes > Event
$( '#buttonPrint' ).click(function (event) {
    var url = $('#printLink').val();
    //var LessonID = $("#jqxcomboboxLesson").jqxComboBox('val');
    //var dateFrom = $("#jqxdatetimeinputDate").val();    
    //var qstring1 = (LessonID == '' ? '' : '?LessonID=' + LessonID );
    //var qstring2 = (dateFrom == '' ? '' : 'dateFrom=' + dateFrom );
    // eliminate empty fields and serialize 
    var qstring = $("#formPrint :input[value!='']").serialize() 
    //var qstring = $('#formPrint').serialize();
    //alert(qstring);
    window.location.href = url + '?' + qstring ;    
    //window.location.href = "Posts?Category=" + sel;
    /*
    var xhr = new XMLHttpRequest();
    xhr.open('GET', url, true);
    xhr.send();
    */    
    $( "#dialogPrint" ).jqxWindow('close');
});





}); //doc.ready
</script>
{% endblock %}


