{% extends "base+jqx+flat-admin-bootstrap.html" %}

{% block title %}
    ΦΑΚΕΛΟΙ ΠΟΥ ΔΙΟΡΘΩΝΟΝΤΑΙ ΤΩΡΑ
{% endblock %}


<!-- Start Block HTML -->
{% block html %}
<style> .chart {width: 100%;height: 400px;}</style>
<!--
<div class="page-title">
    <span class="title">ΣΥΝΟΛΑ ΦΑΚΕΛΩΝ</span>
</div>                        
 -->
<!-- AJAXMessages Box -->
<div id="jsonMessages"></div>

<!-- .row -->
<div class="row no-margin-bottom">
    
    <div class="col-lg-12"  style="margin: 0px -0px 0px -0px;">

            <div class="panel panel-primary fresh-color">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-book fa-fw"></i> ΦΑΚΕΛΟΙ </h3>
                </div>
                <div class="panel-body no-padding">       
                <!-- table -->
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>ΜΑΘΗΜΑ</th>
                            <th>ΦΑΚΕΛΟΣ</th>
                            <th>ΕΠΩΝΥΜΟ</th>
                            <th>ΟΝΟΜΑ</th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for d in data %}            
                    <!-- class="{{loop.cycle('active', 'success', 'info', 'warning', 'danger')}}" -->
                    <tr class="{{loop.cycle('active', 'warning')}}">
                        <th scope="row">{{loop.index}}</th>
                       <td >{{d['b'].GraderID.LessonID.name}}</td>
                       <td >{{d['f'].no}}</td>
                       <td >{{d['b'].GraderID.TeacherID.surname}}</td>
                       <td >{{d['b'].GraderID.TeacherID.name}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <!-- /.table -->

            </div>
            </div>
            <!-- /.panel -->
    </div>
<!-- /.col -->

</div>
<!-- /.row -->


<!-- <div class="sub-title">Contextual classes <span class="description">( .active , .success , .info , .warning , .danger )</span></div> -->


<!-- End Block HTML -->
{% endblock %}


<!-- Block JS -->
{% block js %}
<script type="text/javascript">    

$(document).ready(function () {



}); //doc.ready
</script>
{% endblock %}


