{% extends "base+jqx+flat-admin-bootstrap.html" %}

{% block title %}
    ΕΙΚΟΝΑ ΕΡΓΑΣΙΑΣ ΒΑΘΜΟΛΟΓΗΤΗ
{% endblock %}


<!-- Start Block HTML -->
{% block html %}

{% if lesson is not none %}   
    {%set lessonName = lesson.name %}
{% else %}
    {%set lessonName = 'ΟΛΑ ΤΑ ΜΑΘΗΜΑΤΑ' %}
{%endif %}


<!-- AJAXMessages Box -->
<div id="jsonMessages"></div>


<!-- .row -->
<div class="row no-margin-bottom">
<div class="col-lg-12 no-margin-bottom">
    <div class="panel panel-primary fresh-color neg20-margin-bottom">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> ΜΑΘΗΜΑ: <span id='spanLessonName'>{{lessonName}}</span></h3>
        </div>
        <div class="panel-body" >
        <!-- Lesson-->
        <div id='jqxcomboboxLesson'></div>        
        </div>
    </div>
</div>
</div>
<!-- /.row -->


<!-- .row -->
<div class="row no-margin-bottom">
    
    <div class="col-lg-12 no-margin-bottom"  style="margin: 10px -0px 0px -0px;">

        <div class="panel panel-primary fresh-color">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-book fa-fw"></i> ΦΑΚΕΛΟΙ </h3>
            </div>
            <div class="panel-body no-padding">                    
            
            <!-- table Data -->
            <table class="table" style="margin:0px 0 0 0px;">
                <thead>
                    <tr>
                        <th class="col-md-1" >#</th>
                        <th class="col-md-2">ΜΑΘΗΜΑ</th>
                        <th class="col-md-1">ΕΠΩΝΥΜΟ</th>
                        <th class="col-md-1">ΟΝΟΜΑ</th>
                        <th class="col-md-1">ΦΑΚΕΛΟΣ</th>
                    </tr>
                </thead>
                <!-- Grader loop -->                
                <tbody>
                {% for d in data %}
                <TR class="{{loop.cycle('active', 'warning')}}">
                   <TD scope="row">{{loop.index}}</th>
                   <TD >{{d['g'].LessonID.name}}</TD>
                   <TD >{{d['g'].TeacherID.surname}}</TD>
                   <TD >{{d['g'].TeacherID.name}}</TD>
                    <!-- FOLDER loop -->                
                    {% for b in d['bSums'] %}
                    
                        {% set folder = b['FolderID__no'] %}
                        {% set ftype = b['wasTypeOf'] | lexFolderCodeType %}
                        {# set totalTime = td2DayHourMin(b['sumAction']) if b['sumAction'] else "" #}
                        {% if b['sumAction'] %}  
                            {% set totalTime = (b['sumAction'] | td2DayHourMin ) %}
                        {% else %}          
                            {% set totalTime = "" %}
                        {% endif %}
                        <!-- class="col-lg-3 col-md-6 col-sm-6 col-xs-12" -->
                        <!-- <TD class="col-md-1">({{loop.index}})-Φ{{folder}}({{ftype}}) {{totalTime}}</TD> -->
                        <TD class="col-md-1">Φ{{folder}}({{ftype[2:3]}})<br/>{{totalTime}}</TD>
                    {% endfor %}
                    <!-- // FOLDER loop -->                        
                </TR>
                {% endfor %}
            <!-- // Grader loop -->                
            </tbody>

        </table>
        <!-- /.table -->
        
    </div>
    </div>
    <!-- /.panel -->

</div>
<!-- /.col -->

</div>
<!-- /.row -->


<!-- End Block HTML -->
{% endblock %}





<!-- Paste this code into the BODY section of your HTML document  -->
<!--
<select size="1" name="jumpit" onchange="document.location.href=this.value"> 
<option selected value="">Make a Selection</option>
<option value="/reporting/html/grader/workv3/?LessonID=2">LessonID=2</option>
<option value="/reporting/html/grader/workv3/?LessonID=3">LessonID=3</option>
<option value="/reporting/html/grader/workv3/?LessonID=4">LessonID=4</option>
<option value="/reporting/html/grader/workv3/?LessonID=5">LessonID=5</option>
</select> 
-->

 

<!-- Block JS -->
{% block js %}
<script type="text/javascript">    

$(document).ready(function () {

//helperAjaxMessagesProcess();

let searchParams = new URLSearchParams(window.location.search)
let param = searchParams.get('LessonID'); // name

//alert(param);
//if (typeof param !== 'undefined' ) {

/////////////////////////////////////
// COMBO LESSON jqxcomboboxLessons
/////////////////////////////////////
//Lessons > RecordSet  
var sourceLesson = {
    datatype: "json",
    datafields: [
        {name: "id"}, 
        {name: "name"}, 
        {name: 'category', type: 'string' },
        {name: 'type', type: 'integer' }, // number, 
        {name: 'lexType', value: 'type', values: { source: dataAdapterSchoolToGradeType.records, value: 'type', name: 'lexType' } },
    ],
    url: '/lesson/crud/', 
}; //source

// DataAdapter
var dataAdapterLesson = new $.jqx.dataAdapter(sourceLesson,
    {
        beforeLoadComplete: function (records) {
            for (var i = 0; i < records.length-1; i++) {
                records[i]['name'] = records[i]['lexType'].slice(0,4) + "-" + records[i]['name']+"-"+ records[i]['category'] ;
                //records[i]['name'] = records[i]['name']+"-"+ records[i]['category'] +"-"+ records[i]['lexType'];
            }//for
            var item = {'name':'ΟΛΑ ΤΑ ΜΑΘΗΜΑΤΑ' , 'id':-1};
            records.splice(0, 0, item);            
            return records;
        }//beforeLoadComplete
    }
);

//http://jsfiddle.net/jqwidgets/5SnVH/
$("#jqxcomboboxLesson").jqxComboBox({
    source: dataAdapterLesson, 
    valueMember: "id", 
    displayMember: "name", 
    //selectedIndex: param, //selectIndex:-1, 
    placeHolder:"Επιλέξτε Μάθημα...",  
    itemHeight: 40, height: 40, 
    width: '100%', theme:theme, 
    renderer: function (index, label, value) {
        //var datarecord = data[index];
        var datarecord = dataAdapterLesson.records[index];    
        //var row = "<b>"+label +"</b> " + datarecord.category + "[<u>" + datarecord.lexType + "</u>]" ;
        var row = "<b>"+label +"</b> ";
        return row;
    }
    /*
    */
});

/*
var item = $("#jqxcomboboxLesson").jqxComboBox('getItem', 0);
var index = $("#jqxcomboboxLesson").jqxComboBox('getSelectedIndex'); 
$("#jqxcomboboxLesson").jqxComboBox('selectIndex', 1);
//$("#jqxcomboboxLesson").jqxComboBox('selectItem', 2);
//alert(item);
*/
//alert(param); alert(param); 
//var datarecord = dataAdapterLesson.records[param];    
//alert(datarecord); 
//$('#spanLessonName').html(datarecord);


// jqxcomboboxLesson > Events
$('#jqxcomboboxLesson').on('change', function (event) {    
    if (event.args) {
        var data = dataAdapterLesson.records[event.args.index];
        var index = $("#jqxcomboboxLesson").jqxComboBox('getSelectedIndex'); 
		if (index == 0) {// ALL
            url = '/reporting/html/grader/workv3';
		}
		else { 	// lessonid
            url = '/reporting/html/grader/workv3/?LessonID='+ data.id;
            //url = '/reporting/chart/folder/sum/stackcol?LessonID='+ data.id;            
		}
		//alert(url);
        window.location = url; // redirect
    }
});// combo.event









//$.('#lesson').html = item;
//alert(param);


}); //doc.ready
</script>
{% endblock %}


