{% extends "base+jqx+flat-admin-bootstrap.html" %}

{% block title %}
    ΕΚΤΥΠΩΣΕΙΣ ΓΡΑΜΜΑΤΕΙΑΣ-SEC.
{% endblock %}

<!-- Start Block HTML -->
{% block html %}

<div class="page-title">
    <span class="title">ΕΚΤΥΠΩΣΕΙΣ</span>
</div>                        
 
<div id="printLinks" class="row">
        
  <!-- START menuItem Αναφορές -->
  {% if request.user is has_group("Admin") or request.user is has_group("Grammateia") %} 
    
    <!--Μάθημα-->
    <div id="printLesson" class="col-xs-2"> <!-- /reporting/xls/lesson -->
           
     <h3 class="info">A.Μαθήματα</h3>
     <a id="printAcceptanceByLesson" href="/reporting/xls/acceptance/" class="btn btn-sm btn-primary" role="button">Παραλαβές ανα Μάθημα</a>
     <a id="printAcceptanceByLessonSum" href="/reporting/xls/acceptance/sum/" class="btn btn-sm btn-warning" role="button">Σύνολα Παραλαβών</a>
     <!--
     <a id="printGraderWorkDay" href="/reporting/xls/grader/work/day/" class="btn btn-info" role="button">Εργασία/Ημέρα</a>
     <a id="printGrader" href="/reporting/xls/grader/work/out" class="btn btn-info" role="button">Βαθμολογητές</a>
     <a id="printGrader" href="/reporting/xls/grader/" class="btn btn-info" role="button">Βαθμολογητές</a>
     -->
   
    </div>
    
    <!--Φάκελοι-->
    <div id="printFolder" class="col-xs-2"> <!-- /reporting/xls/folder -->
     
    <h3 class="info">B.Βαθμολόγηση</h3>
     <a id="printGraderByLesson" href="/reporting/xls/grader/" class="btn btn-sm btn-primary" role="button">Βαθμολογητές Ανα Μάθημα</a>
     <a id="printFolder" href="/reporting/xls/folder/" class="btn btn-sm btn-primary" role="button">Φάκελοι ανα Μάθημα</a>
     <a id="printFolder" href="/reporting/xls/folder/sum/" class="btn btn-sm btn-warning" role="button">Συγκεντρωτική Εικόνα Φακέλων</a>
     <a id="printFolder" href="/reporting/xls/folder/now/" class="btn btn-sm btn-primary" role="button">Φάκελοι που Διορθώνονται</a>
     <a id="printFolder" href="/reporting/xls/folder/history/" class="btn btn-sm btn-primary" role="button">Ιστορικό Φακέλων</a>
     <a id="printFolder" href="/reporting/xls/folder/delays/" class="btn btn-sm btn-danger" role="button">Φάκελοι που Καθυστερούν</a>
     <a id="printGraderWork" href="/reporting/xls/grader/workv3/" class="btn btn-sm btn-primary" role="button">Εικόνα Εργασίας ανα Βαθμολογητή</a>
     <!-- <a id="printFolder" href="/reporting/xls/folder/status0/" class="btn btn-sm btn-warning" role="button">Κατάσταση Φακέλων</a> -->
     <!--
     <a id="printFolder" href="/reporting/xls/folder/status/" class="btn btn-info" role="button">Γενική Εικόνα</a>
     -->
    </div>

    <!--
    <div class="col-xs-2">
     <h3 class="info">Βαθμολογητές</h3>
     <a id="printGraderByLesson" href="/reporting/xls/grader/" class="btn btn.sm btn-primary" role="button">Βαθμολογητές Ανα Μάθημα</a>
     <a id="printGraderWork" href="/reporting/xls/grader/work/" class="btn btn-info" role="button">Φάκελοι ανα Βαθμολογητή</a>
     -->
     <!--
     <a id="printGraderWorkDay" href="/reporting/xls/grader/work/day/" class="btn btn-info" role="button">Εργασία/Ημέρα</a>
     <a id="printGrader" href="/reporting/xls/grader/work/out" class="btn btn-info" role="button">Βαθμολογητές</a>
     <a id="printGrader" href="/reporting/xls/grader/" class="btn btn-info" role="button">Βαθμολογητές</a>
    </div>
     -->

    <!-- Booking (Χρεώσεις) Κινήσεις -->
    <div id="printBooking" class="col-xs-2"> <!-- /reporting/xls/folder -->
     <h3 class="info">Γ.Κινήσεις</h3>
     <a id="printBooking" href="/reporting/xls/booking/" class="btn btn-sm btn-primary" role="button">Κίνηση ανα Μάθημα</a>
    <!--
     <a id="printBooking" href="/reporting/xls/booking/grader/" class="btn btn-sm btn-primary" role="button">Κίνηση ανα Βαθμολογητή</a>
     <a id="printBooking" href="/reporting/xls/booking/day/" class="btn btn-info" role="button">Ανα Ημέρα</a>
    -->     
    </div>

    <!-- Acceptance -->
    <!--
    <div id="printAcceptance" class="col-xs-2">
     <h3 class="info">Παραλαβές</h3>
     <a id="printAcceptanceByLesson" href="/reporting/xls/acceptance/" class="btn btn-info" role="button">Παραλαβές ανα Μάθημα</a>
     <a id="printAcceptanceByLessonSum" href="/reporting/xls/acceptance/sum/" class="btn btn-info" role="button">Σύνολα Παραλαβών</a>
    </div>
    -->
    
    <!-- Totals -->
     <!-- 
    <div class="col-xs-2">
     <h3 class="info">Δ.Σύνολα</h3>
     <a id="printBarcode" href="/reporting/xls/total/" class="btn btn-info" role="button">Σύνολα</a>
     <a id="printFolder" href="/reporting/xls/folder/sum/" class="btn btn-sm btn-warning" role="button">Θέση Φακέλων</a>
     <a id="printFolder" href="/reporting/xls/folder/status0/" class="btn btn-sm btn-warning" role="button">Κατάσταση Φακέλων</a>
    </div>
    -->

    <div id="printWork" class="col-xs-2"> <!-- -->
     <h3 class="info">Δ.Στοιχεία Εργασίας</h3>

     <a id="printBookinGraderWeekdaysCount" href="/reporting/xls/booking/weekdays/count/" class="btn btn-info" role="button">Ημέρες Εργασίας Βαθμολογητών</a>
     <a id="printBookinWeekdaysDetails" href="/reporting/xls/booking/weekdays/details/" class="btn btn-info" role="button">Ημέρες Εργασίας Βαθμολογητών(Αναλυτ.)</a>
     
     <a id="printBookinGraderWeekendsCount" href="/reporting/xls/booking/weekends/count/" class="btn btn-info" role="button">Σαβ-Κυρ Εργασίας Βαθμολογητών</a>
     <a id="printBookinGraderWeekendsDetails" href="/reporting/xls/booking/weekends/details/" class="btn btn-info" role="button">Σαβ-Κυρ Εργασίας Βαθμολογητών(Αναλυτ.)</a>

    <!--
     <a id="printBookinGraderSum" href="/reporting/pdf/barcode/" class="btn btn-info" role="button">Barcodes</a>
     <a id="printBookingWeekends" href="/reporting/pdf/barcode/" class="btn btn-info" role="button">Barcodes</a>
     -->
    </div>

  {% endif %} 
  


  <!-- GROUP REPORTS -->
  {% if request.user is has_group("Reports") and not(request.user is has_group("Admin"))%} 
               
    <!--Φάκελοι-->
    <div id="printFolder" class="col-xs-2"> <!-- /reporting/xls/folder -->
     
    <h3 class="info">B.Φάκελοι</h3>
     <a id="printGraderWork" href="/reporting/xls/grader/workv3/" class="btn btn-sm btn-primary" role="button">Φάκελοι ανα Βαθμολογητή</a>
     <a id="printFolder" href="/reporting/xls/folder/now/" class="btn btn-sm btn-primary" role="button">Φάκελοι που Διορθώνονται</a>    
     <a id="printFolder" href="/reporting/xls/folder/history/" class="btn btn-sm btn-primary" role="button">Ιστορικό Φακέλων</a>
    </div>

    <!-- Totals -->
    <div class="col-xs-2"> <!-- -->
     <h3 class="info">Δ.Σύνολα</h3>
     <a id="printFolder" href="/reporting/xls/folder/sum/" class="btn btn-sm btn-warning" role="button">Θέση Φακέλων</a>
    </div>

  {% endif %} 
  

</div>
<!-- ./row -->

<!--
<div id="printLinks" class="row">
    <div class="col-xs-12">

    </div>

</div>
-->
<!-- ./row -->


<!--
<div class="row">
    <div class="col-xs-12">
    <div class="card">
        <div class="card-body">
          The MIT License (MIT)<br><br>
          furnished to do so, subject to the following conditions:<br><br>
        </div>
    </div>
    </div>
</div>
-->
<!-- ./row -->


<!-- Start Dialogue PRINT -->
<!-- *****************************************-->
<!--           Dialogue PRINT                 -->
<!-- *****************************************-->
<div id="dialogPrint" >

<!-- content-->
<div class="modal-content">
    <!--
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Επιλογές Εκτύπωσης.</h4>
    </div>
    -->
    <div class="modal-body">
    <!--FORM-->
    <form class="form-horizontal" id="formPrint" action="javascript:void(0);" >
    {% csrf_token %}
    
      <!--Lesson-->
      <div class="form-group">
        <label class="control-label col-sm-3" for="LessonID">Μάθημα:</label>
        <div class="col-sm-8">
            <div id="jqxcomboboxLesson" name="LessonID" class="form-control" placeholder="Μάθημα"></div>
        </div>
      </div>

      <!--Grader-->
      <!--
      <div class="form-group">
        <label class="control-label col-sm-3" for="GraderID">Βαθμολογητής:</label>
        <div class="col-sm-8">
            <div id="jqxcomboboxGrader" name="GraderID" class="form-control" placeholder="Βαθμολογητής"></div>
        </div>
      </div>
      -->
      <!--Date-->
      <div class="form-group">
        <label class="control-label col-sm-3" for="dateFrom">Ημερομηνία:</label>
        <div class="col-sm-6">
            <div id="jqxdatetimeinputDate" name="dateFrom" class="form-control" placeholder="Ημερομηνία"></div>
        </div>
      </div>
      
      <!--BUTTONS-->
      <div class="form-group">
        <div class="col-sm-offset-5 col-sm-6">
          <button id="buttonPrint" class="btn btn-primary" >OK</button> 
          <button id="buttonCancel" class="btn btn-default" >Cancel</button>
        </div>
      </div>

      <!--HIDDENS-->
      <input id='printLink' name='printLink' type="hidden"/>
    
    </form>
    <!-- ./form -->
    </div>    
    
    <div class="modal-footer">        
    </div>
    <!-- ./footer-->

</div>
<!-- ./content-->
</div>
<!-- End Dialogue PRINT -->


<!-- End Block HTML -->
{% endblock %}


<!-- Block JS -->
{% block js %}
<script type="text/javascript">    

$(document).ready(function () {

///////////////////////////
// jqxcomboboxLessons
//////////////////////////

/*        
var sourceLesson = {
    datatype: "json",
    //root:"data", 
    datafields: [{name: "id"}, {name: "name"}, ],
    url: '/lesson/crud/', 
}; //source

// DataAdapter
var dataAdapterLesson = new $.jqx.dataAdapter(sourceLesson);

//http://jsfiddle.net/jqwidgets/5SnVH/
$("#jqxcomboboxLesson").jqxComboBox({
    //source: dataAdapterLesson, displayMember: "name", selectedIndex: 0, valueMember: "id", width: '100%', height: 30, theme:theme, 
    source: dataAdapterLesson, displayMember: "name", selectedIndex: 0, valueMember: "id", width: '100%', theme: theme,
    placeHolder:"Επιλέξτε Μάθημα...",  
});
$("#jqxcomboboxLesson").jqxComboBox('selectIndex', -1 );
*/

/**********************
// jqxcomboboxLessons
***********************/
//Lessons > RecordSet  
var sourceLesson = {
    datatype: "json",
    datafields: [
        {name: "id"}, 
        {name: "name"}, 
        {name: 'category', type: 'string' },
        {name: 'type', type: 'integer' }, // number, 
        {name: 'lexType', value: 'type', values: { source: dataAdapterSchoolToGradeType.records, value: 'type', name: 'lexType' } },
    ],
    url: '/lesson/crud/', 
}; //source

// DataAdapter

var dataAdapterLesson = new $.jqx.dataAdapter(sourceLesson,
    {
        beforeLoadComplete: function (records) {
            for (var i = 0; i < records.length-1; i++) {
                records[i]['name'] = records[i]['name']+"-"+ records[i]['category'] +"-"+ records[i]['lexType'] ;
                //var row = {};
            }//for
                return records;
        }//beforeLoadComplete
    }
);
//var dataAdapterLesson = new $.jqx.dataAdapter(sourceLesson);

//http://jsfiddle.net/jqwidgets/5SnVH/
$("#jqxcomboboxLesson").jqxComboBox({
    source: dataAdapterLesson, 
    valueMember: "id", displayMember: "name", 
    selectedIndex: -1, //selectIndex:-1, 
    placeHolder:"Επιλέξτε Μάθημα...",  
    //itemHeight: 20, height: 30, 
    width: '100%', theme:theme, 
    /*
    renderer: function (index, label, value) {
        //var datarecord = data[index];
        var datarecord = dataAdapterLesson.records[index];    
        //var row = "<b>"+label +"</b> " + datarecord.category + "[<u>" + datarecord.lexType + "</u>]" ;
        //var row = "<b>"+label +"</b> ";
        var row = "<b>"+label +"</b> ";
        return row;
    }
    */
});
//$("#jqxcomboboxLesson").jqxComboBox('selectIndex', -1 );

// jqxcomboboxLesson > Events

/* UPDATE GRADERS based on LESSON selection
   WORKS OK but not USED
$('#jqxcomboboxLesson').on('select', function (event) {    
    if (event.args) {
        data = dataAdapterLesson.records[args.index];
        sourceGrader.url = '/grader/crud/'+'?action=filter&LessonID='+ data.id;    // SUPER     
        dataAdapterGrader = new $.jqx.dataAdapter(sourceGrader);
        $("#jqxcomboboxGrader").jqxComboBox({ source: dataAdapterGrader});    
        //$("#jqxcomboboxGrader").jqxGrid('updatebounddata');
    }
    //var data = dataAdapterLesson.records[args.index];
    //$("#jqxinputGraderNewLesson").val(data.id);   // Lesson.id
    console.log ('LessonID:' + data.id);
    //$("#jqxnotificationServer").html('Lesson selected!').jqxNotification("open");
});// combo.event
*/

////////////////////////////////
// jqxcomboboxGrader
///////////////////////////////                        
/*
var sourceGrader = {
    datatype: "json",
    //url: '/grader/crud/', 
    url: '', 
    datafields: [
        { name: "id" }, 
        //TeacherID
        { name: "name", map: "_TeacherID_cache>name" }, 
        { name: "surname", map: "_TeacherID_cache>surname" }, 
    ],
    id: 'id',
    sortcolumn: 'surname',
    sortdirection: 'asc',
}; //source
//DataAdapter 
var dataGrader = [];
var dataAdapterGrader = new $.jqx.dataAdapter(sourceGrader, {
    loadComplete: function (records) {
        dataGrader=[];
        for (i=0;i<records.length-1; i++) {
            dataGrader.push(records[i].surname + " " + records[i].name);
            console.log(records[i]); 
        }
    },  //loadComplete
});

*/

/*
//http://jsfiddle.net/jqwidgets/5SnVH/
//source: {html: "<div style='padding: 1px;'><div>Title: Do the Work</div><div>Author: Steven Pressfield</div></div>", title: "Do the Work", group: "Business & Investing" },
$("#jqxcomboboxGrader").jqxComboBox({
    source: dataAdapterGrader, displayMember: "surname", selectedIndex: 0, valueMember: "id", width: '100%', height: '25px', theme: theme, 
    renderer: function (index, label, value) {
        var record = dataAdapterGrader.records[index];
        //console.log(record);
        //var table = '<table style="min-width: 150px;"><tr><td>' + record.surname + " " + record.name + '</td></tr></table>'; return table;
        //var row = record.surname + " " + record.name; 
        return record.surname + " " + record.name; 
        //return {html: "<div style='padding: 1px;'><div>Title: Do the Work</div><div>Author: Steven Pressfield</div></div>", title: "Do the Work", group: "Business & Investing" };
    },
    placeHolder:"Επιλέξτε Βαθμολογητή...",
});
$("#jqxcomboboxGrader").jqxComboBox('selectIndex', -1 );
*/
//INPUTS
$("#jqxdatetimeinputDate").jqxDateTimeInput({ width: '100%', height: '25px' });
//$("#timeInput").jqxDateTimeInput({formatString: "T", showTimeButton: true, showCalendarButton: false, width: '300px', height: '25px' });
//$("#dateTimeInput").jqxDateTimeInput({ formatString: "F", showTimeButton: true, width: '300px', height: '25px' });
                
////////////////////////////////
// Buttons 
////////////////////////////////
//$("#addrowbutton #deleterowbutton #updaterowbutton").jqxButton({ theme: theme });
// Saves a.href in hidden input 
$('#printLinks a').click(function (event) {
    event.preventDefault();
    $("#printLink").val($(this).attr('href'));    
    $( '#dialogPrint').jqxWindow('open');
});

/////////////////////////
//Dialogue PRINT
/////////////////////////                
// Dialogue 
$('#dialogPrint').jqxWindow({ 
    autoOpen: false, title: 'Επιλογές Εκτύπωσης.', isModal: true, 
    //keyboardNavigation: true, 
    keyboardCloseKey: 13, showAnimationDuration: 600, //closeAnimationDuration: 200,
    resizable: false, modalOpacity: 0.8, 
    //position: { x: parseInt($("#jqxgridGrader").offset().left) + 60, y: parseInt($("#jqxgridGrader").offset().top) + 60,}, 
    width: '650px', height: 'auto', //'400px',
});        

// Dialogue > Event
$("#dialogPrint").on('open', function () {
    $("#jqxcomboboxLesson").jqxComboBox('selectIndex', -1 );
    $("#jqxdatetimeinputDate").val(null);
    
});

///////////////////
// Dialogue > input
///////////////////
// Dialogue > Buttons
// Button > No > Event
$( '#buttonCancel' ).click(function () {
    $( '#dialogPrint' ).jqxWindow('close');
});
// Button > Yes > Event
$( '#buttonPrint' ).click(function (event) {
    var url = $('#printLink').val();
    //var LessonID = $("#jqxcomboboxLesson").jqxComboBox('val');
    //var dateFrom = $("#jqxdatetimeinputDate").val();    
    //var qstring1 = (LessonID == '' ? '' : '?LessonID=' + LessonID );
    //var qstring2 = (dateFrom == '' ? '' : 'dateFrom=' + dateFrom );
    // eliminate empty fields and serialize 
    var qstring = $("#formPrint :input[value!='']").serialize() 
    //var qstring = $('#formPrint').serialize();
    //alert(qstring);
    window.location.href = url + '?' + qstring ;    
    //window.location.href = "Posts?Category=" + sel;
    /*
    var xhr = new XMLHttpRequest();
    xhr.open('GET', url, true);
    xhr.send();
    */    
    $( "#dialogPrint" ).jqxWindow('close');
});





}); //doc.ready
</script>
{% endblock %}


