{% extends "base+jqx+flat-admin-bootstrap.html" %}

{% block title %}
    ΒΑΘΜΟΛΟΓΗΤΕΣ-JN
{% endblock %}

<!-- Start Block HTML -->
{% block html %}

<!-- AJAXMessages Box -->
<div id="jsonMessages"></div>

<!-- .row -->
<div class="row ">
<div class="col-lg-12 no-margin-bottom">
    <div class="panel panel-primary fresh-color neg20-margin-bottom">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> ΜΑΘΗΜΑ</h3>
        </div>
        <div class="panel-body" >
        <!-- Lesson-->
        <div id='jqxcomboboxLesson'></div>        
        </div>
    </div>
</div>
</div>
<!-- /.row -->

<!-- .row -->
<div class="row no-margin-bottom">

<div class="col-lg-12">
    <div class="panel panel-primary fresh-color">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> ΒΑΘΜΟΛΟΓΗΤΕΣ </h3>
        </div>
        <div class="panel-body no-padding">
        <!-- Graders -->
        <div id="jqxgridGrader" ></div>
        </div>
    </div>
</div>
<!-- /.col  -->
</div>
<!-- /.row -->

<!-- *****************************************-->
<!-- Dialogue DELETE -->
<!-- *****************************************-->
<div id="dialogDeleteGrader">
  <div class="modal-content">
    <!--  
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Διαγραφή εγγραφής.</h4>
    </div>
    -->
    <div class="modal-body">
        Θέλετε να κάνετε την διαγραφή της εγγραφής;
    </div>
    <div class="modal-footer">        
        <button id="buttonDialogDeleteGraderYes" class="btn btn-default" >NAI</button> 
        <button id="buttonDialogDeleteGraderNo" class="btn btn-primary" style="margin-left: 5px;" >OXI</button>
    </div>
  </div>
</div>
<!-- ./Dialogue DELETE -->


<!-- *****************************************-->
<!-- Start Dialogue NEW -->
<!-- *****************************************-->
<div id="dialogAddGrader">

<!-- content-->
<div class="modal-content">

    <!--
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Προσθήκη Εγγραφής.</h4>
    </div>
    -->

    <div class="modal-body">
    <form class="form-horizontal" id="formAddGrader" action="javascript:void(0);" is for action=none >
    {% csrf_token %}

      <!-- PANEL Teachers-->
      <div class="panel panel-primary fresh-color" class="form-group">

        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Καθηγητές </h3>
        </div>
        <!--
        -->
        <div class="panel-body no-padding">
          <!-- Teachers -->
          <div id="jqxgridTeacher" class="form-control" ></div>
        </div>
      </div>
      <!-- ./PANEL -->


    <!--BUTTONS-->
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">
        <button id="buttonDialogAddGraderYes" class="btn btn-primary" >OK</button> 
        <button id="buttonDialogAddGraderNo" class="btn btn-default" >Άκυρο</button>
      </div>
    </div>

    <!-- HIDDEN Inputs  -->
    <div class="form-group">
        <!-- Μάθημα:-->
        <input id='jqxinputGraderNewLesson' name='jqxinputGraderNewLesson' type="hidden"/>
        <!-- Βαθμολογητής: -->
        <input id='jqxinputGraderNewTeacherArray' name='jqxinputGraderNewTeacherArray' type="hidden"/>
        <!-- Grid Selection Array Input -->
        <input id='jqxinputGraderArrayID' name='jqxinputGraderArrayID' type="hidden"/>
    </div>

    </form>

    </div><!-- /.body -->
  </div><!-- /.content -->

</div>
<!-- ./Dialogue -->

{% endblock %}
<!-- ./End Block HTML -->


<!-- Block JS -->
{% block js %}
<script type="text/javascript">

$(document).ready(function () {        

// Handle Ajax messages
helperAjaxMessagesProcess();

// init var for Grid Buttons 
var varDisabled = false;

/**********************
// jqxcomboboxLessons
***********************/
//Lessons > RecordSet  
var sourceLesson = {
    datatype: "json",
    datafields: [
        {name: "id"}, 
        {name: "name"}, 
        {name: 'category', type: 'string' },
        {name: 'type', type: 'integer' }, // number, 
        {name: 'lexType', value: 'type', values: { source: dataAdapterSchoolToGradeType.records, value: 'type', name: 'lexType' } },
    ],
    url: '/lesson/crud/', 
}; //source

// DataAdapter
var dataAdapterLesson = new $.jqx.dataAdapter(sourceLesson,
    {
        beforeLoadComplete: function (records) {
            for (var i = 0; i < records.length-1; i++) {
                records[i]['name'] = records[i]['name']+"-"+ records[i]['category'] +"-"+ records[i]['lexType'] ;
                //var row = {};
            }//for
                return records;
        }//beforeLoadComplete
    }
);
//var dataAdapterLesson = new $.jqx.dataAdapter(sourceLesson);

//http://jsfiddle.net/jqwidgets/5SnVH/
$("#jqxcomboboxLesson").jqxComboBox({
    source: dataAdapterLesson, 
    valueMember: "id", displayMember: "name", 
    selectedIndex: -1, //selectIndex:-1, 
    placeHolder:"Επιλέξτε Μάθημα...",  
    //itemHeight: 20, height: 30, 
    width: '100%', theme:theme, 
    renderer: function (index, label, value) {
        //var datarecord = data[index];
        var datarecord = dataAdapterLesson.records[index];    
        //var row = "<b>"+label +"</b> " + datarecord.category + "[<u>" + datarecord.lexType + "</u>]" ;
        var row = "<b>"+label +"</b> ";
        return row;
    }
    /*
    */
});
//$("#jqxcomboboxLesson").jqxComboBox('selectIndex', -1 );

// jqxcomboboxLesson > Events
$('#jqxcomboboxLesson').on('select', function (event) {
    if (event.args) {
        var data = dataAdapterLesson.records[args.index];
        sourceGrader.url = '/grader/crud/'+'?action=filter&LessonID='+ data.id;    // SUPER 
        $("#jqxgridGrader").jqxGrid({ source: dataAdapterGrader});    
        $("#jqxinputGraderNewLesson").val(data.id);   // Lesson.id
        varDisabled = false;
        /*
        addButton.jqxButton( {disabled:varDisabled,} );
        reloadButton.jqxButton({disabled:varDisabled,} );
        */
        //console.log ('Lesson id:' + data.id);        
    }
});// combo.event

////////////////////////////////
// Grader data
///////////////////////////////                        
var sourceGrader = {
    url: '', 
    //url: '/grader/crud/', 
    datafields: [
        { name: "id" }, 
        { name: 'isCoordinator', type: 'bool' }, 
        { name: 'isgraderC', type: 'bool' }, 
        { name: 'status', type: 'number' },
        //TeacherID
        { name: "name", map: "_TeacherID_cache>name" }, 
        { name: "surname", map: "_TeacherID_cache>surname" }, 
        { name: "codeGrad", map: "_TeacherID_cache>codeGrad" }, 
        { name: "codeAfm", map: "_TeacherID_cache>codeAfm" }, 
        { name: "codeSpec", map: "_TeacherID_cache>codeSpec" }, 
        //{name: 'lexAction', value: 'action', values: { source: dataAdapterBookingAction.records, value: 'action', name: 'lexAction' } },
    ],
    datatype: "json",
    id: 'id',
    sortcolumn: 'name',
    sortdirection: 'asc',     
    // DELETE
    deleterow: function (rowid, commit) {
        // synchronize with the server - send delete command
        var data = "action=delete&amp;" + $.param({ id: rowid });
        //var data = "delete=true&" + $.param({ EmployeeID: rowid });
        $.ajax({
            method: 'POST', 
            url: '/grader/crud/', 
            data: data,
            cache: false,
            success: function (response, status, xhr) {
                commit(true);
                console.log(response);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                commit(false);
            }
        });//ajax
    }, //delete
    updaterow: function (rowid, rowdata, commit) {
        //var data = "action=update&amp;" + $.param(rowdata);
        //alert ($.param(rowdata));
        $.ajax({
            method: 'POST', 
            url: '/grader/crud/', 
            //data: { action: 'update', data: $.param(rowdata) },
            //data: data,
            // MUST BE CHANGED 
            data: { action: 'update', id: rowdata.id, isCoordinator: rowdata.isCoordinator, isgraderC: rowdata.isgraderC, status: rowdata.status }, 
            cache: false,
            dataType: 'json',
            success: function (response, status, xhr) {
                commit(true);// update command is executed.
                console.log(response);
                //helperAjaxMessagesProcess(response);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                commit(false);
            }
        });//.ajax
    }, //updaterow
    //$("#jqxgridGrader").jqxGrid('updatebounddata');
}; //source


//DataAdapter create + //AGGREGATES +//BARGAUGE
var dataAdapterGrader = new $.jqx.dataAdapter( sourceGrader, {
    loadComplete: function () {
        //helperAjaxMessagesProcess(response);
    },  //loadComplete
});
 
///////////////////////////
// GRID jqxGraderGrid
//////////////////////////                        
$("#jqxgridGrader").jqxGrid({
    source: dataAdapterGrader,
    columns: [ //columntype: 'textbox', 
    
        { text: "id", datafield: "id", editable : false, width: '5%', hidden: true,  },
        { text: "ΑΦΜ", datafield: 'codeAfm', editable : false, filtertype: 'input', width: '10%',
            aggregates: ['count'], 
        },
        { text: 'Επώνυμο', datafield: 'surname', editable : false, columntype: 'textbox', filtertype: 'input', width: '30%'},
        { text: "Όνομα", datafield: "name", editable : false, filtertype: 'input',},
        { text: "Ειδικ.", datafield: 'codeSpec', editable : false, width: '15%'},
        //{ text: "Κ.Βαθμ.", datafield: 'codeGrad', editable : false, filtertype: 'input', width: '10%'},
        { text: "Συντoνιστής.", datafield: 'isCoordinator', columntype: 'checkbox', filtertype: 'bool', width: '10%'},
        { text: "Αναβαθμολογητής", datafield: 'isgraderC', columntype: 'checkbox', filtertype: 'bool', width: '10%'},
        //{ text: "Status.", datafield: 'status', width: 60 },
        { text: 'Διαγραφή', editable: false, filterable: false, columntype: 'button', width: '5%', 
            cellclassname: "redClass1",
            cellsrenderer: function () {
                return "X";
            }, // cellsrenderer
            buttonclick: function (row) {
                $("#dialogDeleteGrader").jqxWindow('open');
                //var datarow = $('#jqxgridGrader').jqxGrid('getrowdata', row);
                //$('#jqxgridGrader').jqxGrid('deleterow', datarow.id);
                //console.log('remove btn clicked id='+datarow.id);
          } // buttonclick
        }, //remove        
    ],

    autoheight: false, columnsresize: true, editable: true, //editmode: 'selectedrow',
    filterable: true, showfilterrow: true, selectionmode: 'singlerow', //multiplecellsextended
    pageable: false, sortable: true, width: '99.5%', height:'450', theme: theme, 
    showaggregates: true, 
    showstatusbar:true, 
    showtoolbar:true, rendertoolbar: function (statusbar) {
        // appends buttons to the status bar.
        var container = $("<div style='position: relative; margin: 5px; '></div>");
        //var addButton = $("<button type='button' class='btn btn-default' style='float: right;'>Update Grid</button>");
        //var addButton = $("<div style='float: right; margin-left: 10px;'><span> Προσθήκη </span></div>");
        //var reloadButton = $("<div style='float: right; margin-left: 10px;'><span>Ανανέωση</span></div>");
        var addButton = $("<button type='button' class='btn btn-primary' style='float:right;'> Προσθήκη </button>");
        var reloadButton = $("<button type='button' class='btn btn-primary' style='float: right; margin-right: 10px;'> Ανανέωση </button>");
        //<button type="button" class="btn btn-default">Update Grid</button>
        //<button id="buttonAddGrader" type="button" class="btn btn-primary">Add Record</button>
        
        container.append(addButton);
        container.append(reloadButton);
        statusbar.append(container);
        addButton.jqxButton( {disabled:varDisabled,} );
        reloadButton.jqxButton( {disabled:varDisabled,} );

        // add new row.
        addButton.click(function (event) {
            //var datarow = generatedata(1);
            //$("#jqxgridGrader").jqxGrid('addrow', null, datarow[0]);
            $( '#dialogAddGrader').jqxWindow('open');
        });
        // reload grid data.
        reloadButton.click(function (event) {
            $("#jqxgridGrader").jqxGrid({ source: dataAdapterGrader });
        });
    } //render toolbar

    //selectionmode: 'multiplerowsextended', 'singlecell',
});//Grader grid

//editable:true, editmode: 'selectedrow', height: 400, pageable: true, pagesize: 20, selectionmode: 'singlerow', sortable: true, theme: 'classic', width: 690, 
//altrows: true, autoheight: true, 
//ready: function () {$("#jqxnotificationServer").html(notificationServerMessage).jqxNotification("open");},


/////////////////////////////////
// Events
////////////////////////////////
$("#jqxbuttonGraderNew").click(function () {
    if( $('#jqxgridTeacher').jqxGrid('getselectedrowindexes').length > 0 ) {
        $('#jqxgridTeacher').jqxGrid('clearselection');
    }
});

/****************************
// Teacher data
****************************/
var TeacherIDArray = [];
var sourceTeacher = {
    url: '/teacher/crud/', 
    //url: '/teacher/crud/', 
    datafields: [
        //id codeAfm codeGrad codeSpec name surname 
        {name: "id"}, 
        {name: 'name', type: 'string' },
        {name: 'surname', type: 'string' },
        {name: 'codeAfm', type: 'string' },
        {name: 'codeGrad', type: 'string' },
        {name: 'codeSpec', type: 'integer' },
    ],
    datatype: "json",
}; //source

//DataAdapter create + 
var dataAdapterTeacher = new $.jqx.dataAdapter( sourceTeacher);

/****************************
// GRID jqxTeacherGrid
****************************/
$("#jqxgridTeacher").jqxGrid({
    source: dataAdapterTeacher,
    columns: [ //columntype: 'textbox', 
        //id codeAfm codeGrad codeSpec name surname 
        { text: 'id', datafield: 'id', hidden: true }, //visible: false
        { text: "Κωδ.βαθμολογ.", datafield: 'codeGrad', filtertype: 'input', width: '10%' },
        { text: "Επίθετο", datafield: 'surname', columntype: 'textbox', filtertype: 'input', },
        { text: "Όνομα", datafield: 'name',  filtertype: 'input', width: '23%' },
        { text: 'ΑΦΜ', datafield: 'codeAfm', filtertype: 'input', width: '15%' },
        { text: "Ειδικ.", datafield: 'codeSpec', editable : false, width: '17%'},
    ],     
    autoheight: false, altrows: true, columnsresize: true, editable: false, //editmode: 'selectedrow',
    filterable: true, showfilterrow: true, selectionmode: 'checkbox', //'multiplerowsextended', 'singlecell', 'checkbox', 'singlerow', 
    //pageable: true, pagesize: 20, 
    sortable: true, 
    showaggregates: true, 
    rowsheight: 22,    
    width: '99.5%', height:'400', theme: theme,  //height:'400'
});//Teacher grid


/****************************
//Buttons 
****************************/
/*
//$("#addrowbutton #deleterowbutton #updaterowbutton").jqxButton({ theme: theme });
$( '#buttonAddGrader' ).click(function (event) {
    //$("#code, #name, #ddeCode, #ddeName, #type").val(''); 
    //$("#jqxgridGrader").jqxGrid({disabled:true});
    $( '#dialogAddGrader').jqxWindow('open');
});

$( '#buttonUpdateGridGrader' ).click(function (event) {
    $("#jqxgridGrader").jqxGrid({ source: dataAdapterGrader });
});
*/

/****************************
//Dialogue DELETE
****************************/
//buttonDialogDeleteGraderYes
$( '#dialogDeleteGrader' ).jqxWindow({ 
    autoOpen: false, title: 'Διαγραφή εγγραφής!', isModal: true, 
    //cancelButton: $('#buttonDialogDeleteGraderNo'), 
    keyboardNavigation: true, keyboardCloseKey: 13,
    showAnimationDuration: 600, closeAnimationDuration: 200,
    //resizable: false, modalOpacity: 0.5, 
    position: { x: parseInt($("#jqxgridGrader").offset().left) + 400, y: parseInt($("#jqxgridGrader").offset().top) + -30,},    
    width: 'auto', height: '300', theme: theme, 
});        

// Dialogue / Events
$("#dialogDeleteGrader").on('open', function () {
    //$("#jqxgridGrader").jqxGrid({ disabled: false });
});
// Dialogue / Events
$("#dialogDeleteGrader").on('close', function () {
    //$("#jqxgridGrader").jqxGrid({ disabled: false });
});

//Dialogue / Buttons
$('#buttonDialogDeleteGraderYes, #buttonDialogDeleteGraderNo').jqxButton({ theme: theme, height: 30, width: 80 });

// Dialogue / Events / Button / Yes
$('#buttonDialogDeleteGraderYes').click(function () {
    var row = $('#jqxgridGrader').jqxGrid('getselectedrowindex');
    var datarow = $('#jqxgridGrader').jqxGrid('getrowdata', row);
    //alert('row='+row+' datarow.id='+datarow.id);

    $('#jqxgridGrader').jqxGrid('deleterow', datarow.id);
    //console.log('remove btn clicked id='+datarow.id);
    //$("#jqxgridGrader").jqxGrid({ source: dataAdapterGrader });
    //$("#jqxgridGrader").jqxGrid("updatebounddata");
        
    $('#dialogDeleteGrader').jqxWindow('close');
});

// Dialogue / Events / Button / No
$('#buttonDialogDeleteGraderNo').click(function () {
    $('#dialogDeleteGrader').jqxWindow('close');
});


/****************************
//Dialogue ADD
****************************/
// Dialogue 
$('#dialogAddGrader').jqxWindow({ 
    autoOpen: false, title: 'Νέοι Βαθμολογητές!', isModal: true, 
    keyboardCloseKey: 13, keyboardNavigation: true, 
    showAnimationDuration: 600, closeAnimationDuration: 200,
    resizable: false, modalOpacity: 0.5, 
    //position: { x: parseInt($("#jqxgridGrader").offset().left) + 300, y: parseInt($("#jqxgridGrader").offset().top) + -150,}, 
    width: '600px', height: '600px',
});        

// Dialogue/Event
$("#dialogAddGrader").on('open', function () {
    $('#jqxgridTeacher').jqxGrid('clearselection');
    //$("#jqxgridGrader").jqxGrid({ disabled: false });
    if( $('#jqxgridTeacher').jqxGrid('getselectedrowindexes').length > 0 ) {
        $('#jqxgridTeacher').jqxGrid('clearselection');
    }
});
// Dialogue/Event
$("#dialogAddGrader").on('close', function () {
    //$("#jqxgridGrader").jqxGrid({ source: dataAdapterGrader });
    $("#jqxgridGrader").jqxGrid('updatebounddata');
});


// Dialogue/Inputs
$("#jqxinputGraderNewLesson, #jqxinputGraderNewTeacherArray").jqxInput({ theme: theme, height: 30, width: 80 });

// Dialogue/Buttons
$('#buttonDialogAddGraderYes, #buttonDialogAddGraderNo').jqxButton({ theme: theme, height: 30, width: 80 });
// Dialogue > Buttons > Event /No 
$( '#buttonDialogAddGraderNo' ).click(function () {
    $( '#dialogAddGrader' ).jqxWindow('close');
});
// Dialogue > Buttons > Event/Yes 
$( '#buttonDialogAddGraderYes' ).click(function (event) {
    
    var TeacherArray = [];
    var Lesson = $('#jqxinputGraderNewLesson').val();
    TeacherArray = helperJqxgridGetSelectedIds('#jqxgridTeacher', 'id');
    
    $("#jqxinputGraderNewTeacherArray").val(TeacherArray);
    //alert('ABOuT TO POST <br/> Lesson:'+ Lesson + ' TeacherArray: ' + TeacherArray);    //OK
    //var jsonArray = JSON.parse(TeacherArray); //FAIL
    var stringifyArray = JSON.stringify(TeacherArray);
    var jsonStringifyArray = JSON.parse(JSON.stringify(TeacherArray));
    //alert('jsonStringifyArray :' + jsonStringifyArray );    //OK

    $.ajax({
        method: 'POST',
        url: '/grader/crud/',
        //url: '/grader/lesson/crud/',
        data: {action:'add', 'jqxinputGraderNewLesson': Lesson, 'jqxinputGraderNewTeacherArray': stringifyArray},
        dataType: 'json',
        cache: false,
        success: function (response, status, xhr) {
            //$("#jqxnotificationServer").html('Grader Add success!').jqxNotification("open");
            $( "#dialogAddGrader" ).jqxWindow('close');
            console.log(response);
        },
        error: function (jqXHR, textStatus, errorThrown) {
            console.log(jqXHR);
        }
    }); //ajax
});

    
});// (document).ready
</script>
{% endblock %}



