{% extends "base+jqx+flat-admin-bootstrap.html" %}

{% block title %}
    ΕΙΣΑΓΩΓΗ ΣΧΟΛΕΙΩΝ ΒΑΘΜΟΛΟΓΗΣΗΣ ΑΠΟ CSV ΑΡΧΕΙΟ-JN
{% endblock %}

<!-- Start BLOCK HTML -->
{% block html %}

<!-- AJAXMessages Box -->
<div id="jsonMessages"></div>

<!-- Card# -->
<!--
<div class="card">
<div class="card-header">
    <div class="card-title">
        <div class="title">Badges</div>
    </div>
</div>

<div class="card-body">
    <div>
        <a href="#">Inbox <span class="badge">42</span></a>
        <button class="btn btn-primary" type="button">
            Messages <span class="badge">4</span>
        </button>
    </div>
    <div class="sub-title">Colorize</div>
    <div>
        <a href="#">Primary <span class="badge primary">42</span></a>
        <a href="#">Success <span class="badge success">42</span></a>
        <a href="#">Info <span class="badge info">42</span></a>
        <a href="#">Warning <span class="badge warning">42</span></a>
        <a href="#">Danger <span class="badge danger">42</span></a>
    </div>
</div>

</div>
-->
<!-- ./body -->
<!-- ./Card# -->

<div class="row  no-margin-bottom">

<!-- .col UPLOAD -->
<div class="col-lg-7">
    <div class="panel panel-primary fresh-color">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> ΕΙΣΑΓΩΓΗ ΣΧΟΛΕΙΩΝ ΒΑΘΜΟΛΟΓΗΣΗΣ ΑΠΟ CSV ΑΡΧΕΙΟ</h3>
        </div>
        <div class="panel-body">
                
        <!-- messages -->
        <div id="uploadSchoolToGradeMessages" class="sub-title">
        Όνομα Αρχείου:<span id="fileName" class="badge primary"></span></br>
        Αποτέλεσμα:<span id="uploadSchoolToGradeResponseSuccess" class="badge info"></span>
        </div>

        <!-- File upload  -->
        <h3>Επιλογή Αρχείου CSV</h3>    
        <div id="jqxFileUpload"></div>
    </div>
    </div>

    <!-- .row -->
    <div class="row  no-margin-bottom">
    <!-- CHECK UPLOADED -->
    <div class="col-lg-12">
        <div class="panel panel-primary fresh-color">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> ΕΛΕΓΧΟΣ ΣΤΟΙΧΕΙΩΝ ΑΠΟ ΤΟ ΑΡΧΕΙΟ</h3>
            </div>
            <div class="panel-body">
            
            <!-- Buttons -->
            <button id="jqxbuttonCheckImport" class="btn btn-primary" >ΕΛΕΓΧΟΣ (CHECK)</button>
            <button id="jqxbuttonDoImport" class="btn btn-danger" >ΕΙΣΑΓΩΓΗ (IMPORT)</button>

            <!-- messages -->
            <div id="checkimportSchoolToGradeMessages" class="sub-title">
            <!--
                Server Response:<span id="checkimportSchoolToGradeResponse" class="badge danger"></span>
            -->
            Αποτέλεσμα:<span id="checkimportSchoolToGradeResponseSuccess" class="badge danger"></span>
            </div>
        

            <!-- TEST GRID -->
            <div id="jqxgridSchoolToGradeCheckContainer">
                <h3>Στοιχεία</h3>
                <div id="jqxgridSchoolToGradeCheck"></div>
            </div>
            
            <!-- User Inputs -->
            <div style="visibility: hidden;" >
            <h2>User Inputs </h2>    
            Όνομα Aρχείου (CSV):<input id='jqxinputFileName'/><br/>
            Όνομα XXX:<input id='jqxinputIdxName'/><br/>
            1η Γραμμή:<input id='jqxinputFirstRow'/>
            </div>
        
            </div>
        </div>
    </div>
    </div>
    <!-- /.row -->


</div>
<!-- /.col  -->


<!-- .col IMG -->
<div class="col-lg-5">
    <div class="panel panel-primary fresh-color">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Δομή Αρχείου CSV </h3>
        </div>
        <div class="panel-body">
        <!-- Demo CSV Image -->
        <img src="{% static 'images/csv-schoolstograde.csv - libreoffice calc_001.png' %}" width="100%"/>
        </div>
    </div>
</div>
<!-- x/y.col  -->

</div>
<!-- /.row -->


<!-- End BLOCK HTML -->
{% endblock %}


<!-- Start BLOCK JS -->
{% block js %}
<script type="text/javascript">

$(document).ready(function () {
// GLobals
var gridData = [];

$('#jqxgridSchoolToGradeCheckContainer').hide(1000);
//$('#checkimportSchoolToGradeMessages').hide(1000);

///////////////////////////
//jqxfileupload      
//////////////////////////                        
$('#jqxFileUpload').jqxFileUpload({
    //uploadUrl: "/jsonfileuploadcsv/?action=upload",
    uploadUrl: "/jsonfileupload/",
    fileInputName: 'fileToUpload', 
    accept: '*',
    //accept: 'image/*',
    width: 300,
});
//gets Server Response
$('#jqxFileUpload').on('uploadEnd', function (event) {
    //var args = event.args;
    var fileName = event.args.file;
    var serverResponse = event.args.response;
    //console.log(fileName + '-' + serverResponse);

    // Your code here.
    var serverResponseJSON =  $.parseJSON(stripStringTags(serverResponse)); // remove <pre> tags > json objectify
    $("#fileName").html(serverResponseJSON.filename);
    $( '#uploadSchoolToGradeResponseSuccess' ).html('OK');
    $("#jqxinputFileName").val(serverResponseJSON.filename);
    console.log(serverResponseJSON.filename);    
    //$("#fileName").html(fileName);    //OK (only filename no path)
    //$('#spnResponse').prepend('Ended uploading: <strong>' + fileName + '</strong>; Response: ' + serverResponce + '<br />');    
    //sourceSchoolToGrade.localdata = serverResponseJSON.data;
    //$("#jqxgridSchoolToGradeCheck").jqxGrid({ source: sourceSchoolToGrade });
    //console.log(gridData);    
});


////////////////////////////
// INPUT
////////////////////////////
$("#jqxinputFileName").jqxInput({ width: '250px', height: '25px', disabled: false, });
$("#jqxinputIdxName, #jqxinputFirstRow").jqxInput({ width: '250px', height: '25px', disabled: true, });
//$('#jqxinputIdxName, #jqxinputFirstRow').on('change', function (event) {});

///////////////////////////
//jqxgridSchoolToGradeCheck
//////////////////////////
// Data
var sourceSchoolToGrade = {
    datatype: "json",
    localdata: gridData, 
    datafields: [
        {name: "id"}, 
        {name: 'code', type: 'string' },
        {name: 'name', type: 'string' },
        {name: 'ddeCode', type: 'string' },
        {name: 'ddeName', type: 'string' },
        {name: 'type', type: 'integer' }, // number, 
        {name: 'lexType', value: 'type', values: { source: dataAdapterSchoolToGradeType.records, value: 'type', name: 'lexType' } },
        //2018
        {name: 'address', type: 'string' }, 
        {name: 'city', type: 'string' },
        {name: 'tk', type: 'string' },

        {name: 'status', type: 'string' },
    ],
};
var dataAdapterSchoolToGrade = new $.jqx.dataAdapter(sourceSchoolToGrade);     

// jqxgridSchoolToGradeCheck
$("#jqxgridSchoolToGradeCheck").jqxGrid({
    source: dataAdapterSchoolToGrade,
    columns: [
        { text: 'Kωδικός', datafield: 'code', width: '15%' },
        { text: "Όνομα", datafield: 'name',  width: '15%' },
        { text: "Κωδ.ΔΔΕ", datafield: 'ddeCode', width: '10%' },
        { text: "ΔΔΕ", datafield: 'ddeName', width: '20%' },
        { text: "Τύπος", datafield: 'type', displayfield: 'lexType', columntype: 'dropdownlist', width:'10%', 
            createeditor: function (row, value, editor) {
                editor.jqxDropDownList({ source: dataAdapterSchoolToGradeType, displayMember: 'lexType', valueMember: 'type', });
            }, // createeditor
            //aggregates: ['count'],
        },
        
        { text: "Δ-νση", datafield: 'address',  width: '20%' },
        { text: "Πόλη", datafield: 'city',  width: '10%' },
        { text: "ΤΚ", datafield: 'tk',  width: '5%' },
        { text: "Κατάσταση", datafield: 'status', editable: false, filtertype: 'input', width: '10%' },
        //return '<div style="text-align: center; margin-top: 7px;"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></div>'        
    ], 
    autoheight: false, height: 300, pageable: false, pagesize: 25, sortable: true, width: 700, //theme: 'classic',
});//grid

// ΚΩΔΙΚΟΣ ΛΥΚΕΙΟΥ	ΟΝΟΜΑΣΙΑ ΛΥΚΕΙΟΥ	ΚΩΔΙΚΟΣ ΔΔΕ	ΟΝΟΜΑΣΙΑ ΔΔΕ
// Event
//$("#jqxgridSchoolToGradeCheck").jqxGrid('selectrow', 0);

////////////////////////////
// BUTTONS jqxbutton
////////////////////////////

// BUTTON
$("#jqxbuttonCheckImport, #jqxbuttonDoImport").jqxButton({ width: 230, height: 30 });

// BUTTON > Events 
$("#jqxbuttonCheckImport, #jqxbuttonDoImport").click (function () {
    var action = this.id.substring(9,20).toLowerCase();     // checkimport | doimport
    $.ajax({
        type: "POST",
        url: "/jsonfilecsvimportschooltograde/",            
        data: { 
            action: action, 
            jqxinputFileName : $("#jqxinputFileName").val(), 
            jqxinputIdxName: 0, jqxinputFirstRow: 1, 
        }, 
        success: function (response, status, xhr) {
            // show mesages
            //console.log(response.data);
            //$("#checkimportSchoolToGradeResponseSuccess").html(response.data);
            $('#checkimportSchoolToGradeMessages').show(1000);
            $("#checkimportSchoolToGradeResponseSuccess").html(response.status);
            
            // set grid data
            $( '#jqxgridSchoolToGradeCheckContainer' ).show(100);
            sourceSchoolToGrade.localdata = response.data;       
            $("#jqxgridSchoolToGradeCheck").jqxGrid({ source: sourceSchoolToGrade });
            $("#jqxgridSchoolToGradeCheck").jqxGrid('updatebounddata');
 
        },             
        error: function (jqXHR, textStatus, errorThrown) {
            $( '#jqxgridSchoolToGradeCheckContainer' ).hide(100);
            //$("#jqxgridSchoolToGradeCheck").jqxGrid({ visible: False });
            console.log('error');
        }
    });//ajax

});

/*
//$.post("/jsonuploadimportcsv/?action=checkimport", $("#form").serialize());
//$.getJSON('/jsonfileuploadcsv/', function (data) {console.log(data);}
*/

});
</script>

<!-- End BLOCK JS -->
{% endblock %}

