{% extends "base+jqx+flat-admin-bootstrap.html" %}

{% block title %}
    ΕΙΔΙΚΟΤΗΤΕΣ 
{% endblock %}

<!-- Start Block HTML -->
{% block html %}

<!-- AJAXMessages Box -->
<div id="jsonMessages"></div>

<!-- aggregates 
<div>
    <span id="avg"></span> 
    <span id="count"></span > 
    <span id="max"></span>
    <span id="min"></span >
    <span id="sum"></span >
</div>
-->
<!-- .row -->
<div class="row no-margin-bottom">

<!--
<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
    <div class="row">
    
    <a href="#">
    <div class="card green summary-inline">
        <div class="card-body">
            <i class="icon fa fa-tags fa-4x"></i>
            <div class="content">
                <div class="title">280</div>
                <div class="sub-title">Product View</div>
            </div>
            <div class="clear-both"></div>
        </div>
    </div>
    </a>

    <a href="#">
    <div class="panel panel-info">
      <div class="panel-heading">.panel-info</div>
      <div class="panel-body">
            Panel content
      </div>
    </div>
    </a>
    
    </div>
</div>
// LEFT side panel -->
<!-- x/y.col  -->

<!-- .row -->
<div class="col-lg-12">
    <div class="panel panel-primary fresh-color">
        <div class="panel-heading">
            <span class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> ΕΙΔΙΚΟΤΗΤΕΣ </h3>
            <button id="btnSpecialtyAdd" type='button' class='btn btn-warning' style='float: right; margin: -5px 10px 0px 10px; width:90px;'><i class="fa fa-bar-chart-o fa-fw"></i>Νέα </button>
            <button id="btnSpecialtyReload" type='button' class='btn btn-info' style='float: right; margin: -5px 10px 0px 10px;width:110px;'><i class="fa fa-bar-chart-o fa-fw"></i>Ανανέωση </button>
        </div>
        <div class="panel-body">
        <!-- jqxGrid -->
        <div id="jqxgridSpecialty"></div>
        </div>
    </div>
</div>
<!-- x/y.col  -->

</div>
<!-- /.row -->


<!-- *****************************************-->
<!--                Dialogue DELETE           -->
<!-- *****************************************-->
<div id="dialogDeleteSpecialty" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
 
  <!-- content-->
  <div class="modal-content">
    <!--
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Διαγραφή εγγραφής.</h4>
    </div>
    -->
    <div class="modal-body">
        Θέλετε να κάνετε την διαγραφή της εγγραφής;
    </div>
    <div class="modal-footer">                
        <button id="buttonDialogDeleteSpecialtyYes" class="btn btn-danger" >NAI</button> 
        <button id="buttonDialogDeleteSpecialtyNo" class="btn btn-primary" style="margin-left: 5px;" >OXI</button>
    </div>
  </div>
  <!-- ./content-->

</div>
<!-- End Dialogue DELETE -->


<!-- *****************************************-->
<!--                Dialogue NEW              -->
<!-- *****************************************-->
<div id="dialogAddSpecialty" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">

<!-- content-->
<div class="modal-content">

    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Νέα Ειδικότητα</h4>
    </div>

    <div class="modal-body">
    <!-- Start FORM ADD -->
    <!-- form action="javascript:void(0);" is for action=none -->
    <form class="form-horizontal" id="formAddSpecialty" action="javascript:void(0);" >
    {% csrf_token %}

  <!-- Code -->
  <div class="form-group">
    <label class="control-label col-sm-3" for="code">Kωδικός:</label>
    <div class="col-sm-5">
      <input type="email" class="form-control" id="code" placeholder="Kωδικός" tabindex="1">
    </div>
  </div>
  
  <!-- Name -->
  <div class="form-group">
    <label class="control-label col-sm-3" for="name">Ονομασία:</label>
    <div class="col-sm-9">
      <input class="form-control" id="name" placeholder="Ονομασία" tabindex="2">
    </div>
  </div>
  
  <!-- BUTTONS -->
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button id="buttonDialogAddSpecialtyYes" class="btn btn-primary" tabindex="3">ΟΚ</button> 
      <button id="buttonDialogAddSpecialtyNo" class="btn-default" tabindex="4">Άκυρο</button></td>                    
    </div>
 </div>

  <!-- HIDDENS -->
  
    </form>
    <!-- End FORM ADD -->
    </div>
    <!-- ./body -->
    
    <div class="modal-footer"></div>
    <!-- ./footer-->

  </div>
<!-- ./content-->
</div>
<!-- ./ Dialogue ADD -->


{% endblock %}
<!-- End Block HTML -->


<!-- Block JS -->
{% block js %}
<script type="text/javascript">
$(document).ready(function () {

// Handle Ajax messages
helperAjaxMessagesProcess();

// List Source SCHOOLTYPE @ HelpersJS
var aggregateData = null;
////////////////////////////////
//Buttons
///////////////////////////////                        
//$('#buttonDialogAddSpecialtyYes, #buttonDialogAddSpecialtyNo').jqxButton({ theme: theme, height: 30, width: 80 });
//$('#buttonUpdateGridSpecialty, #buttonAddSpecialty').jqxButton();
////////////////////////////////
// Specialty data
///////////////////////////////                        
var sourceSpecialty = {
    datatype: "json",
    datafields: [
        {name: "id"}, 
        {name: 'code', type: 'string' },
        {name: 'name', type: 'string' },
    ],
    url: '/specialty/crud/', 
    id: 'id',
    sortcolumn: 'name',
    sortdirection: 'asc',     
    // ADD
    addrow: function (rowid, rowdata, position, commit) {
        // synchronize with the server - send insert command
        var data = "action=add&amp;" + $.param(rowdata);
        //var data = "insert=true&" + $.param(rowdata);
        $.ajax({
            method: 'POST', 
            url: '/specialty/crud/', 
            data: data,
            dataType: 'json',
            cache: false,
            success: function (response, status, xhr) {
                commit(true);
                console.log(response);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                commit(false);
            }
        }); //ajax
    }, //addrow
    // DELETE
    deleterow: function (rowid, commit) {
        // synchronize with the server - send delete command
        var data = "action=delete&amp;" + $.param({ id: rowid });
        //var data = "delete=true&" + $.param({ EmployeeID: rowid });
        $.ajax({
            method: 'POST', 
            url: '/specialty/crud/', 
            data: data,
            cache: false,
            success: function (response, status, xhr) {
                commit(true);
                console.log(response);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                commit(false);
            }
        });//ajax
    }, //delete
    // UPDATE
    updaterow: function (rowid, rowdata, commit) {
    // synchronize with the server - send update command
        var data = "action=update&amp;" + $.param(rowdata);
        //var data = "update=true&amp;" + $.param(rowdata);
        //alert ('Edit B4 .ajax');
        $.ajax({
            method: 'POST', 
            url: '/specialty/crud/', 
            data: data,
            dataType: 'json',
            cache: false,
            success: function (response, status, xhr) {
                commit(true);// update command is executed.
                console.log(response);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                commit(false);
            }
        });//.ajax
    }, //updaterow
}; //source

//DataAdapter create + 
//AGGREGATES +
//BARGAUGE
var dataAdapterSpecialty = new $.jqx.dataAdapter( sourceSpecialty, {
    loadComplete: function () {
        // aggregates
    },  //loadComplete
});

///////////////////////////
// GRID jqxSpecialtyGrid
//////////////////////////                        
$("#jqxgridSpecialty").jqxGrid({
    source: dataAdapterSpecialty,
    columns: [ //columntype: 'textbox', 
        { text: 'id', datafield: 'id', hidden: true },
        { text: 'Kωδικός', datafield: 'code', filtertype: 'input', width: '15%' },
        { text: "Όνομα", datafield: 'name',  filtertype: 'input', },  //width: '70%' 
        /*    
        { text: 'Edit', editable: false, columntype: 'button', width: '5%', 
            cellsrenderer: function () {
                return "...";
            }, 
            buttonclick: function (row) {
                $("#jqxgridSpecialty").jqxGrid('beginrowedit', row);
            } // buttonclick
        }, //edit 
        */
        { text: 'Διαγραφή', editable: false, filterable: false, columntype: 'button', width: '5%', 
            cellclassname: "redClass1",
            cellsrenderer: function () {
                return "X";
            }, // cellsrenderer
            buttonclick: function (row) {
                $("#dialogDeleteSpecialty").jqxWindow('open');
          } // buttonclick
        }, //remove        
    
        
        //return '<div style="text-align: center; margin-top: 7px;"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></div>'
        
        
        
    ],  //columns 
    /*
    editable: true, editmode: 'dblclick', selectionmode: 'singlerow', //multiplecellsextended
    filterable: true,showfilterrow: true, 
    pageable: false, 
    sortable: true, 
    width: '100%', height:'500', theme:theme, 
    autoheight: false, columnsresize: true, //rowsheight: 30,    
    showaggregates: true, 
    showstatusbar:true, showtoolbar:true, 
    */
    editable: true, editmode: 'dblclick', selectionmode: 'singlerow', //multiplecellsextended
    filterable: true, showfilterrow: true, 
    pageable: true, pagesize: 20, 
    sortable: true, 
    width: '99.5%', height:'540', theme:theme, 
    autoheight: false, columnsresize: true, 
    rowsheight: 21, 
    toolbarheight:15,
    showaggregates: true, 
    showstatusbar:true, 
    rendertoolbar: function (statusbar) {
        // appends buttons to the status bar.
        var container = $("<div style='position: relative; margin: 5px; '></div>");
        var addButton = $("<button type='button' class='btn btn-primary' style='float:right;'> Προσθήκη </button>");
        var reloadButton = $("<button type='button' class='btn btn-primary' style='float: right; margin-right: 10px;'> Ανανέωση </button>");
        
        //container.append(addButton);
        //container.append(reloadButton);
        //statusbar.append(container);
        addButton.jqxButton();
        reloadButton.jqxButton();
        // add new row.
        addButton.click(function (event) {
            //var datarow = generatedata(1);
            //$("#jqxgridSpecialty").jqxGrid('addrow', null, datarow[0]);
            $( '#dialogAddSpecialty').jqxWindow('open');
        });
        // reload grid data.
        reloadButton.click(function (event) {
            $("#jqxgridSpecialty").jqxGrid({ source: dataAdapterSpecialty });
        });
    } //render toolbar

    //selectionmode: 'multiplerowsextended', 'singlecell',
});//Specialty grid

/****************************
// Buttons 
****************************/
//$("#addrowbutton #deleterowbutton #updaterowbutton").jqxButton({ theme: theme });
/*
$( '#buttonAddSpecialty' ).click(function (event) {
    $("#code, #name").val(''); 
    //$("#jqxgridSpecialty").jqxGrid({disabled:true});
    $( '#dialogAddSpecialty').jqxWindow('open');
});

$( '#buttonUpdateGridSpecialty' ).click(function (event) {
    $("#jqxgridSpecialty").jqxGrid({ source: dataAdapterSpecialty });
});
*/
//$("#acceptanceReload").jqxButton({ height: 30 });
$("#btnSpecialtyReload").click(function (event) {
    $("#jqxgridSpecialty").jqxGrid({ source: dataAdapterSpecialty });
});

//$("#acceptanceReload").jqxButton({ height: 30 });
$("#btnSpecialtyAdd").click(function (event) {
    $("#code, #name").val(''); 
    $("#dialogAddSpecialty").jqxWindow('open');
});

/****************************
//Dialogue DELETE
****************************/
//buttonDialogDeleteSpecialtyYes
$( '#dialogDeleteSpecialty' ).jqxWindow({ 
    autoOpen: false, title: 'Νέα Εγγραφή', isModal: true, 
    //cancelButton: $('#buttonDialogDeleteSpecialtyNo'), 
    keyboardNavigation: true, //keyboardCloseKey: 13,
    showAnimationDuration: 600, closeAnimationDuration: 200,
    //resizable: false, modalOpacity: 0.5, 
    //position: { x: parseInt($("#jqxgridSpecialty").offset().left) + 60, y: parseInt($("#jqxgridSpecialty").offset().top) + 60,}, 
    width: '400', height: 'auto', theme: theme, 
});        

//Dialogue > Buttons
$('#buttonDialogDeleteSpecialtyYes, #buttonDialogDeleteSpecialtyNo').jqxButton({ theme: theme, height: 30, width: 80 });

// Event > Dialogue
$("#dialogDeleteSpecialty").on('close', function () {
    //$("#jqxgridSpecialty").jqxGrid({ disabled: false });
});
// Event > Button > Yes
$('#buttonDialogDeleteSpecialtyYes').click(function () {
    var row = $('#jqxgridSpecialty').jqxGrid('getselectedrowindex');
    var datarow = $('#jqxgridSpecialty').jqxGrid('getrowdata', row);
    $('#jqxgridSpecialty').jqxGrid('deleterow', datarow.id);
    //console.log('remove btn clicked id='+datarow.id);
    $('#dialogDeleteSpecialty').jqxWindow('close');
});
// Event > Button > No
$('#buttonDialogDeleteSpecialtyNo').click(function () {
    $('#dialogDeleteSpecialty').jqxWindow('close');
});

                                  
                                    
/*********************************/
// Dialogue ADD
/*********************************/
// Dialogue 
$('#dialogAddSpecialty').jqxWindow({ 
    autoOpen: false, title: 'Νέα Εγγραφή',
    isModal: true, modalOpacity:0.7, 
    keyboardNavigation: true, //keyboardCloseKey: 13, 
    showAnimationDuration: 600, closeAnimationDuration: 200,
    resizable: false, 
    //position: { x: parseInt($("#jqxgridSpecialty").offset().left) + 60, y: parseInt($("#jqxgridSpecialty").offset().top) + 60,}, 
    //width: 'auto', height: 'auto',
    width: '400px', height: 'auto', theme:theme, 
});        

//Dialogue > Event
$("#dialogAddSpecialty").on('open', function () {
    //$("#jqxgridSchoolToGrade").jqxGrid({ disabled: false });
    //$("#code, #name").jqxInput('val')'';
    $("#code").val('');
    $("#name").val('');
    $("#code").focus();
});

$("#dialogAddSpecialty").on('close', function () {
    //$("#jqxgridSchoolToGrade").jqxGrid({ disabled: false });
});


//Dialogue > Input
//$("#addWinRowButton").jqxButton({ theme: theme, width: 210, height: 40 });
$("#code, #name").jqxInput();

//Dialogue > Buttons
$('#buttonDialogAddSpecialtyYes, #buttonDialogAddSpecialtyNo').jqxButton({ theme: theme, height: 30, width: 80 });


// Event > Button > Yes
$( '#buttonDialogAddSpecialtyYes' ).click(function (event) {    
    $('#formAddSpecialty').jqxValidator('validate');
    event.preventDefault();
});

// Event > Button > No
$( '#buttonDialogAddSpecialtyNo' ).click(function () {
    $( '#dialogAddSpecialty' ).jqxWindow('close');
});

//code, #name, #ddeCode, #ddeName
////////////////////////////
//Form ADD > jqxValidator
////////////////////////////
$('#formAddSpecialty').jqxValidator( { 
    rules: [
        { input: '#code', 
        rule: 'required',     //rule: 'length=4,12'  
        //action: 'keyup', 
        message: 'Ο κωδικός είναι κενός!',
        },        
        { input: '#name', 
        rule: 'required',     //rule: 'length=4,12'  
        //action: 'keyup', 
        message: 'To όνομα είναι κενό!',
        },        
    ],  //rules 

    onSuccess: function (event) { 
        //event.preventDefault();        
        // set record values
        var newrow = { code: $("#code").val(), name: $("#name").val(), };
        $( "#jqxgridSpecialty" ).jqxGrid('addrow', null, newrow);
        //$( "#jqxgridSpecialty" ).jqxGrid('updatebounddata');
        $( "#dialogAddSpecialty" ).jqxWindow('close');        
        console.log("Success");
        //alert('Success!'); 
    },//onSuccess

    onError: function () { 
        console.log("Failed!");
        //alert('Failed!'); 
    },//onError

}); 

//$('#jqxValidator').on('validationError', function (event) { event.preventDefault(); }); 
//$('#jqxValidator').on('validationSuccess', function (event) { event.preventDefault(); }); 


/////////////////////////
//BARGAUGE
/////////////////////////

}); //doc.ready
</script>
{% endblock %}



