{% extends "base+jqx+flat-admin-bootstrap-plain.html" %}
{#
{% extends "base+jqx+flat-admin-bootstrap.html" %}
#}

{% block title %}
    403 ERROR 
{% endblock %}

<!-- Start Block HTML -->
{% block html %}
<h2 class="text-center"><i class="app-logo fa fa-connectdevelop fa-5x color-white"></i><div class="color-white">403 ERROR</div></h2>
<h3>{{ msg }}</h3>
<!--
<p class="text-center color-white app-description">This is a template for a simple marketing or informational website. 
It includes a large callout called a jumbotron and three supporting pieces of content. 
Use it as a starting point to create something more unique.</p>
-->
<!--
<p class="text-center"><a class="btn btn-primary btn-lg app-btn" href="#" role="button">Learn more »</a></p>
-->


<!-- End Block HTML -->
{% endblock %}


<!-- Block JS -->
{% block js %}
<script type="text/javascript">    

$(document).ready(function () {


}); //doc.ready
</script>
{% endblock %}





